<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.danielstieber.codalfred</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>8D3776F9-A62C-480A-8D6F-70F4D167416A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6646A14D-F270-4F1D-AF4D-2FE41FCBD7CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A00C4A9E-000C-4FFD-90BD-F63C3D9746CA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>794DF3F2-78A4-4CB6-AC3B-A7CC3F3D1342</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Daniel Stieber</string>
	<key>description</key>
	<string>Open and create Coda docs with Alfred.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>CodAlfred</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6646A14D-F270-4F1D-AF4D-2FE41FCBD7CE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>cd</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>&lt;?php
require './vendor/autoload.php';
$query = $argv[1];

$key = getenv('apikey');

$coda = new \danielstieber\CodAlfred\CodAlfred($key);
echo $coda-&gt;find($query);</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search...</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8D3776F9-A62C-480A-8D6F-70F4D167416A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>cdn</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Creating...</string>
				<key>script</key>
				<string>&lt;?php
require './vendor/autoload.php';
$query = $argv[1];

$key = getenv('apikey');

$coda = new \danielstieber\CodAlfred\CodAlfred($key);
echo $coda-&gt;create($query);</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>php coda-new.php {query}</string>
				<key>subtext</key>
				<string>Type the name of your new doc</string>
				<key>title</key>
				<string>Create a new doc</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A00C4A9E-000C-4FFD-90BD-F63C3D9746CA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>794DF3F2-78A4-4CB6-AC3B-A7CC3F3D1342</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This workflow allows you to directly open and create Coda docs with Alfred. It is based on CodaPHP, a PHP library that uses the official Coda API. Github: https://github.com/danielstieber/CodAlfred

# How to use:
Input 'cd todo' to search your doclist for the keyword 'todo'

Input 'cdn todolist' to create a new doc with the name 'todolist'</string>
	<key>uidata</key>
	<dict>
		<key>6646A14D-F270-4F1D-AF4D-2FE41FCBD7CE</key>
		<dict>
			<key>xpos</key>
			<integer>365</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>794DF3F2-78A4-4CB6-AC3B-A7CC3F3D1342</key>
		<dict>
			<key>xpos</key>
			<integer>365</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>8D3776F9-A62C-480A-8D6F-70F4D167416A</key>
		<dict>
			<key>xpos</key>
			<integer>155</integer>
			<key>ypos</key>
			<integer>115</integer>
		</dict>
		<key>A00C4A9E-000C-4FFD-90BD-F63C3D9746CA</key>
		<dict>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>apikey</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>apikey</string>
	</array>
	<key>version</key>
	<string>0.0.1</string>
	<key>webaddress</key>
	<string>https://github.com/danielstieber/CodAlfred</string>
</dict>
</plist>
